<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MainMenu.Properties.Settings.ConnectionString" connectionString="Data Source=KEMSVR2/KTEST;Persist Security Info=True;User ID=KOKEN_7;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <!--追加-->
  <appSettings>
    <add key="oracleVer" value="value1"/>
    <add key="schema" value="value2"/>
    <add key="userID" value="value3"/>
    <add key="memUserId" value="value4"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Frm21Tbp1" value="value21Tbp1"/>
    <!-- #21 段取り登録.単票形式 -->
    <add key="Frm21Tbp2" value="value21Tbp2"/>
    <!-- #21 段取り登録.リスト形式 -->
    <add key="Frm042Tbp1" value="value042Tbp1"/>
    <!-- #042 切削オーダーの平準化.単票形式 -->
    <add key="Frm042Tbp2" value="value042Tbp2"/>
    <!-- #042 切削オーダーの平準化.リスト形式 -->
    <add key="Frm23Tbp1" value="value23Tbp1"/>
    <!-- #23 賃率登録.単票形式 -->
    <add key="Frm23Tbp2" value="value23Tbp2"/>
    <!-- #23 賃率登録.リスト形式 -->
    <add key="Frm24Tbp1" value="value24Tbp1"/>
    <!-- #24 製造原価登録.単票形式 -->
    <add key="Frm24Tbp2" value="value24Tbp2"/>
    <!-- #24 製造原価登録.リスト形式 -->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
        <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
        </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
        <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
        </providers>
    </roleManager>
  </system.web>
</configuration>
